.aside-action {
  padding: 40px 20px 30px;
  background-color: #eaeef2;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  background-image: url("../img/aside-action.jpg");
}

.aside-action__title {
  font-size: 26px;
  line-height: 1;
  color: #424952;
  margin-left: 10px;
  margin-bottom: 20px;

  b {
    font-size: 1.15em;
    font-weight: 600;
    color: $text-color;
  }
}

.aside-action__descr {
  max-width: 110px;
  font-weight: 500;
  color: #6c7180;
  margin-left: 10px;
  margin-bottom: 145px;
}

.aside-action__btn {
  width: 100%;
}

@media (max-width: 1023px) {
  .aside-action {
    display: none;
  }
}
