.main .breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-size: 12px;
  font-weight: 500;
  color: #bec1c6;
  margin-bottom: 10px;

  li {
    padding: 0;

    &::before {
      display: none;
    }
  }

  a {
    color: #6c7180;
    text-decoration: none;

    &::after {
      content: " \005C ";
      color: #bec1c6;
      margin: 0 10px;
    }
  }
}
