.copyright {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  color: #8a8c8d;
  font-size: 12px;
  font-weight: 500;
}

.copiright__design span {
  font-weight: 600;
  color: #bec1c6;
}
