.example-info {
  padding-top: 15px;
}

.example-info__category {
  font-size: 12px;
  color: $text-color-lighter;
  font-weight: 500;
  margin-bottom: 8px;
}

.example-info__title {
  font-size: 27px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 30px;
}

.example-info__size {
  font-size: 12px;
  color: $text-color-lighter;
  font-weight: 500;
  margin-bottom: 20px;
}

.example-info__size span {
  display: block;
  margin-top: 5px;
  font-size: 20px;
  line-height: 1.35;
  color: #346f85;
}

.example-info__size span b {
  font-size: 1.35em;
  line-height: 1;
  font-weight: 600;
}

.example-info__descr {
  color: $text-color-lighter;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 30px;
}

.example-info__period {
  position: relative;
  max-width: 260px;
  border-radius: 4px;
  background-color: #e3f1f6;
  padding: 10px 15px 10px 70px;
  font-size: 12px;
  color: $text-color-lighter;
  font-weight: 500;

  &::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 34px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-period.svg");
  }
}

.example-info__period span {
  display: block;
  font-size: 20px;
  line-height: 1.35;
  color: $text-color;
  font-weight: 400;
}

.example-info__period span b {
  font-size: 1.35em;
  line-height: 1;
  font-weight: 600;
}

@media (max-width: 1279px) {
  .example-info {
    padding-top: 0;
  }

  .example-info__title {
    margin-bottom: 20px;
  }
}
