.feature {
  padding-left: 75px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

.feature--style::before {
  background-image: url("../img/icon-feature1.png");
}

.feature--profit::before {
  background-image: url("../img/icon-feature2.png");
}

.feature--guarantee::before {
  background-image: url("../img/icon-feature3.png");
}

.feature--maintenance::before {
  background-image: url("../img/icon-feature4.png");
}

.feature__title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
}

.feature__descr {
  color: #bec1c6;
}

@media (max-width: 599px) {
  .feature__title {
    margin-bottom: 10px;
  }
}

@media (max-width: 424px) {
  .feature {
    padding-left: 65px;
  }
}
