.footer {
  margin-top: 70px;
  padding-top: 30px;
  background-color: #2f1b2f;
  background-image: linear-gradient(135deg, #2f1b2f 0%, #0a3342 100%);
  color: #ffffff;
}

.footer__content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer__column {
  width: calc(25% - 22.5px);
  margin-right: 30px;
  margin-bottom: 55px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__title {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 1;
  font-weight: 600;
}

.footer__tel {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 1;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    color: #dddddd;
  }

  &::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-phone.png");
  }
}

.footer__hours {
  margin-bottom: 15px;
  padding-left: 25px;
  font-size: 10px;
  line-height: 1.5;
  color: #bec1c6;
}

.footer__mail {
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    color: #dddddd;
  }

  &::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 14px;
    height: 10px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-mail.png");
  }
}

@media (max-width: 1023px) {
  .footer__column {
    width: calc(50% - 30px);
    margin-bottom: 30px;
  }

  .footer__column--info-menu {
    padding-top: 15px;
  }

  .footer__column--services-menu {
    order: 3;
  }

  .footer__column--contacts {
    order: 4;
  }

  .footer__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
  }
}

@media (max-width: 599px) {
  .footer__column {
    width: 100%;
    margin-right: 0;
  }

  .footer__column--info-menu {
    padding-top: 0;
  }

  .footer__column--services-menu,
  .footer__column--contacts {
    order: 0;
  }
}
