.gradient-bg {
  position: relative;
  background-color: #66305f;
  background-image: linear-gradient(135deg, #66305f 0%, #11688a 100%);
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    left: calc((100% - 1110px) / 2 + 47px);
    top: -20px;
    border-style: solid;
    border-width: 20px 0 0 33px;
    border-color: transparent transparent transparent #573565;
  }
}

@media (max-width: 1279px) {
  .gradient-bg::before {
    left: calc((100% - 940px) / 2 + 47px);
    border-color: transparent transparent transparent #5f3361;
  }
}

@media (max-width: 1023px) {
  .gradient-bg::before {
    left: calc((100% - 740px) / 2 + 47px);
  }
}

@media (max-width: 767px) {
  .gradient-bg::before {
    left: calc((100% - 600px) / 2 + 47px);
  }
}
