.header {
  padding: 25px 0;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: #2b363e;
  background-image: url("../img/header-bg.jpg");
  color: #ffffff;
}

.header--main {
  padding-bottom: 190px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--main .header__top {
  margin-bottom: 65px;
}

.header__logo {
  display: inline-block;
}

.header__consult-btn {
  width: 194px;
}

.header__contacts-wrap {
  width: 50%;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.header__tel {
  font-size: 22px;
  line-height: 1;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  margin-right: 30px;
  transition: 0.25s;

  &:hover {
    color: #dddddd;
  }

  &::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-phone.png");
  }
}

.header__hours {
  font-size: 10px;
  line-height: 1.5;
  color: #bec1c6;
  margin-right: 30px;
}

.header__mail {
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    color: #dddddd;
  }

  &::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 14px;
    height: 10px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-mail.png");
  }
}

.header__content {
  padding-left: 50px;
  padding-right: 50px;
}

.header__title {
  position: relative;
  font-size: 66px;
  line-height: 1;
  word-break: break-word;
  margin-bottom: 35px;

  &::before {
    content: "";
    position: absolute;
    left: -50px;
    top: -12px;
    width: 12px;
    height: 68px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-header-title.svg");
  }
}

.header__title span {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    width: 109px;
    height: 36px;
    background-repeat: no-repeat;
    background-image: url("../img/text-header.png");
  }
}

.header__title b {
  font-weight: 600;
}

.header__descr {
  font-size: 22px;
  font-weight: 500;
  color: #bec1c6;
  margin-bottom: 45px;
}

.header__count-btn {
  width: 250px;
  color: #000000;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-count.png");
  }
}

@media (max-width: 1279px) {
  .header__contacts-wrap {
    width: 530px;
  }

  .header__consult-btn {
    width: 180px;
  }

  .header__title {
    font-size: 56px;
  }
}

@media (max-width: 1023px) {
  .header {
    padding: 10px 0;
  }

  .header--main {
    padding-bottom: 140px;
  }

  .header__top {
    flex-wrap: wrap;
  }

  .header__consult-btn {
    width: 165px;
  }

  .header__contacts-wrap {
    order: 3;
    width: 100%;
    margin-top: 25px;
  }

  .header__contacts {
    padding-bottom: 10px;
  }

  .header__content {
    padding: 0;
  }

  .header__title {
    font-size: 46px;

    &::before {
      left: -12px;
      top: -5px;
      width: 9px;
      height: 50px;
      background-size: contain;
    }
  }

  .header__descr {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .header--main {
    padding-bottom: 120px;
  }

  .header__logo {
    margin-bottom: 0;
  }

  .header__title {
    font-size: 38px;
  }

  .header__count-btn {
    width: 220px;
  }
}

@media (max-width: 599px) {
  .header--main .header__top {
    margin-bottom: 40px;
  }

  .header__logo {
    width: 170px;
  }

  .header__contacts-wrap {
    margin-top: 15px;
  }

  .header__hours {
    margin-right: 0;
  }

  .header__mail {
    display: none;
  }

  .header__title {
    font-size: 34px;
    margin-bottom: 20px;

    &::before {
      width: 8px;
      height: 45px;
    }

    span::after {
      display: none;
    }
  }

  .header__descr {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

@media (max-width: 424px) {
  .header__logo {
    width: 130px;
  }

  .header__consult-btn {
    width: 140px;
  }

  .header__tel {
    margin-right: 15px;
    font-size: 18px;

    &::before {
      display: none;
    }
  }

  .header__title {
    font-size: 26px;
  }
}
