.jq-selectbox {
  position: relative;
  z-index: 10;
  color: #626363;
  cursor: pointer;
}

.jq-selectbox select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.jq-selectbox__select {
  position: relative;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 17px 40px 17px 25px;
  transition: 0.25s;

  &:hover {
    border-color: $main-color;
  }
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid $main-color;
}

.jq-selectbox__select-text {
  display: block;
  width: 100%;
  overflow: hidden;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 7px 50%;
  background-image: url("../img/icon-select-arrow.svg");
}

.jq-selectbox__dropdown {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #bec1c6;
  border-radius: 4px;
}

.jq-selectbox__dropdown ul {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.jq-selectbox li {
  padding: 7px 25px;
  user-select: none;
  white-space: nowrap;

  &.selected {
    background-color: $main-color-darker;
    color: #ffffff;
  }

  &:hover {
    background-color: $main-color;
    color: #ffffff;
  }
}

@media (max-width: 1023px) {
  .jq-selectbox__select {
    padding-left: 15px;
    padding-right: 30px;
  }

  .jq-selectbox__trigger {
    width: 35px;
  }

  .jq-selectbox li {
    padding-left: 15px;
    padding-right: 15px;
  }
}


/* number */

.jq-number {
  position: relative;
  padding: 0 56px;
}

.jq-number__field {
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 4px;
  transition: 0.25s;

  &:hover {
    border-color: $main-color;
  }

  input {
    width: 100%;
    padding: 17px 9px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #626363;
    text-align: center;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}

.jq-number__spin {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  border: 1px solid $border-color;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  transition: 0.25s;

  &.plus {
    right: 0;
    left: auto;

    &::after {
      @include center;
      content: "";
      width: 2px;
      height: 12px;
      background-color: #576472;
    }
  }

  &:hover {
    border-color: $main-color;
  }

  &::before {
    @include center;
    content: "";
    width: 12px;
    height: 2px;
    background-color: #576472;
  }
}
