.numbers-list {
  display: flex;
}

.numbers-list__item {
  width: calc((100% + 60px) / 3);
  padding-bottom: 2px;
  padding-left: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  color: #b8c3c3;

  &:first-child {
    width: calc((100% + 60px) / 3 - 30px);
    border: none;
    padding-left: 0;
  }
}

.numbers-list__item span {
  display: block;
  margin-bottom: 10px;
  font-size: 2.2em;
  line-height: 1;
  font-weight: 600;
  color: $accent-color;
}

@media (max-width: 1023px) {
  .numbers-list__item {
    width: calc((100% + 30px) / 3);
    padding-left: 15px;

    &:first-child {
      width: calc((100% + 30px) / 3 - 15px);
    }
  }
}

@media (max-width: 599px) {
  .numbers-list {
    flex-wrap: wrap;
  }

  .numbers-list__item {
    width: 50%;
    padding: 0;
    border: none;
    margin-bottom: 25px;

    &:first-child {
      width: 50%;
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      margin-bottom: 5px;
    }
  }
}
