.section-header {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.section-header--wave {
  position: relative;
  padding-left: 50px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -12px;
    width: 12px;
    height: 68px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-header-title.svg");
  }
}

.section-header--mistakes {
  justify-content: flex-start;

  & .section-header__note {
    margin-left: 40px;
  }
}

.section-header__title {
  font-size: 55px;
  line-height: 1.1;
  font-weight: 500;
  word-break: break-word;
  margin: 0;
}

.section-header__note {
  flex-shrink: 0;
  flex-grow: 1;
  font-size: 15px;
  text-align: right;
  color: $text-color-lighter;
}

@media (max-width: 1023px) {
  .section-header {
    margin-bottom: 20px;
  }

  .section-header--wave {
    padding-left: 20px;

    &::before {
      top: -5px;
      width: 9px;
      height: 50px;
      background-size: contain;
    }
  }

  .section-header__title {
    font-size: 44px;
  }

  .section-header__note {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .section-header__title {
    font-size: 34px;
  }
}

@media (max-width: 599px) {
  .section-header--wave {
    padding-left: 12px;

    &::before {
      width: 7px;
      height: 40px;
    }
  }

  .section-header__note {
    width: 100%;
    text-align: left;
  }

  .section-header--mistakes .section-header__note {
    margin-left: 0;
  }
}

@media (max-width: 424px) {
  .section-header__title {
    font-size: 28px;
  }
}
