.sertificates {
  padding-top: 60px;
  padding-bottom: 70px;
}

.sertificates__item {
  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  }
}

.sertificates__item a {
  display: block;
}

.sertificates__item img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

@media (max-width: 1279px) {
  .sertificates__item img {
    height: 300px;
  }
}

@media (max-width: 1023px) {
  .sertificates__item img {
    height: 306px;
  }
}

@media (max-width: 767px) {
  .sertificates__item img {
    height: 370px;
  }
}

@media (max-width: 599px) {
  .sertificates__item img {
    height: 255px;
  }
}
