.wave-bg {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url("../img/wave-bg.png");
  }

  &--services-and-types::before {
    background-position: 50% -300px;
    transform: scaleX(-1);
  }

  &--works-and-sertificates::before {
    background-position: 50% -170px;
    transform: scale(-1, -1);
  }
}

@media (max-width: 2200px) {
  .wave-bg::before {
    background-size: auto;
  }
}
