.work {
  display: flex;
  background-color: #ffffff;
}

.work__link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  }
}

.work__img {
  width: 100%;
  height: 195px;
  object-fit: cover;
}

.work__text {
  padding: 30px 30px 40px;
  text-align: center;
}

.work__category {
  color: $text-color-lighter;
  margin-bottom: 12px;
}

.work__title {
  font-size: 21px;
  line-height: 1;
  font-weight: 600;
}

@media (max-width: 1279px) {
  .work__img {
    height: 165px;
  }
}

@media (max-width: 1023px) {
  .work__img {
    height: 120px;
  }

  .work__text {
    padding: 20px 15px;
  }

  .work__title {
    font-size: 17px;
  }
}

@media (max-width: 767px) {
  .work__img {
    height: 145px;
  }
}

@media (max-width: 599px) {
  .work__img {
    height: 205px;
  }
}
